.rules-button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 95vw;
    
    @media screen and (min-width:768px) {
        &{
            justify-content: end;
            margin-bottom: 20px;
        }
    }

    .rules-button{
        padding: 9px 25px ;
        outline: 1px solid #fff;
        background: transparent;
        font-weight: 600;
        color:#fff;
        border:none;
        border-radius: 0.4rem;
        letter-spacing: 0.1rem;
        cursor: pointer;
    }
}
